@font-face{ 
  font-family: alba;
  src:url(/assets/Font/alba/ALBA____.TTF);}
  @font-face{
  font-family: navfont;
  src:url(/assets/Font/arista-pro/Arista-Pro/Arista-Pro-Alternate-Light-trial.ttf);}
  @font-face {
    font-family: Para;
    src: url(/assets/Font/arista-pro/Arista-Pro/Arista-Pro-Alternate-Light-trial.ttf);
  }
  @font-face {
    font-family: heading;
    src: url(/assets/Font/arista-pro/Arista-Pro/Arista-Pro-Alternate-Bold-trial.ttf);
  }

*{
  margin: 0;
  padding: 0;
}
body{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 0px;
    background-image: url(/assets/Images/bg.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100vh;
    background-blend-mode:color-dodge;
    
    overflow-y: scroll;
} 
html{
  font-size: 12pt;
  font-family: Poppins, Segoe UI, Tahoma, sans-serif;
}
/* animation appear */
@keyframes appearX{
  from{
    opacity: 0;
    transform:translateX(-100%);
  }
  to{
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes appearY{
  from{
    opacity: 0;
    transform:translateY(-100%);
  }
  to{
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes appearOpacity{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

div.art-works h1,p,.slides,.tap{
  animation: appearY ease;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
div#project h1,.project1{
  animation: appearX ease-out;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
div#About .about{
  animation: appearX ease-out;
  animation-timeline: view();
  animation-range: entry 5% cover 40%;
}
/* navigation */
img.namedlogo{
  width: min-content;
  height: 30px;
}
nav{
  font-family: navfont;
  width: 80%;
  position: static;
  background-color: #cecbcbbb;
  backdrop-filter: blur(10px);
  margin:10px auto;
  border-radius: 10px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:0.5s ease-out;
}
.links-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a{
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 0, 0);

}
nav a:hover{
  color: rgb(0, 102, 255);
  font-size: 20px;
  transition:0.5s ease-in;
}
nav a:not(:hover){
  transition:0.5s ease-out;
}
nav .home-link{
  margin-right: auto;
}
nav svg{
  fill:black;
}
#sidebar-active{
  display: none;
}
.open-sidebar-button, .close-sidebar-button{
  display: none;
}
@media(max-width: 450px){
  body{
    height: max-content;
  }
  .links-container{
    flex-direction: column;
    align-items: flex-start;
    height: min-content;
    position: fixed;
    top: 25%;
    right: -100%;
    z-index: 10;
    width: 200px;
    border-radius: 10px 0 0 10px;
    background-color: #373f47f6;
    box-shadow: -5px 0 5px rgba(54, 54, 54, 0.25);
    transition: 0.75s ease-out;
  }
  nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container{
    right: 0;
  }
  #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
  .cont{
    display: flex;
    text-align: center;
  }
}
/* navigation end */
.line{
  position: relative;
}
.line::after{
  content: '';
  position: absolute;
  width:100%;
  height: 15px;
  border-radius: 5px;
  background-color: #252525;
  top:90vh;
  
}
/*------Scroll bar-------*/
/* width */
::-webkit-scrollbar {
  background-color:transparent;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background:#252525;
  margin-right: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(48, 47, 47); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #252525; 
}
::-webkit-scrollbar-thumb{
  color: darkslategrey;
}
/*------------Welcome-page---------------*/
div.welcome-page{
  height: 90vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items:center;
}

h2{
  overflow-y: hidden;
  gap:5px;
  font-family: alba;
  font-size: 50px;
  color: rgb(255, 255, 255);

}
.cont{
  font-family: alba;
  border-radius: 5px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;

}

.h1{
  gap:10px;
  font-family: alba;
  padding-top: 20px;
  color: aliceblue;
}
.adding{
  font-family: alba;
  background-color:rgb(41, 40, 40) ;
  gap:5px;
  height: 80px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.border {
  position:relative
  
}
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits:false ;
}
.border::after, .border::before{
  content: '';
  position: absolute;
  width:100%;
  height: 85px;
  border-radius: 10px;
  background-image: conic-gradient(from var(--angle), transparent -10% ,rgb(22, 87, 228),rgb(0, 0, 0));
  top:20%;
  left:50%;
  translate:-50% -95%;
  z-index: -1;
  padding: 3px;
  animation: 5s spin linear infinite;
}
@keyframes spin {
  from{
    --angle:0deg;
  }
  to{
    --angle:360deg
  }
}
.border::before{
  filter: blur(1.5rem);
}
#name-add{
  margin-left: 8px;
  color: rgb(255, 255, 255);
}
.cont span{
  padding-top: 5px;
  gap:5px;
  display: inline;
  font-size: 45px;
  font-family: alba;
  color: rgb(255, 255, 255);
}


/* welcome page end */
/* work */
div#Work{
  padding-top:10px ;
  margin-top: 10px;

}
div.slides{
  height: 490px;
  width: 400px;
  
  
}
.art-works{
  border-top: solid #252525 15px ;
  margin-top: 10px;

  font-family: Para;
  text-align: center;
  text-decoration: none;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.tap{
  padding-top: 5px;
  background-color: rgba(250, 235, 215, 0.159);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  justify-content: center;
  width: 300px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  

}
.art-works h1{
  background-color: transparent;
  font-family: heading;
  padding-top:10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  color: rgb(236, 58, 58);
}
div#Work.art-works.block3{
  background-color: #302f2fde;
  height: 110vh;
}
/* -----work end----- */
/* ------Projects------- */

@keyframes appearOpacity{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.project-list{
  
  margin: auto;
  display:flex;
  justify-content: center;
  align-items: center;
}
#project{
  padding-top: 200px;
  border-top: solid #252525 15px ;
  background-color: #5f5d5dde;
  height: 90vh;
  padding-top: 100px;

}
div.project-container h1{
  font-family: heading;
  padding-top: 80px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  color: rgb(255, 255, 255);

}
.project1 img{
  width: 140px;
  height: 170px;
  border-radius: 20px;
}
.project1 h2{
  font-family: Para;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.project1 a{
  display: inline-flex;
  color: white;
  padding-bottom: 5px;
}
.project1{
  
  margin-left: 10px;
  height: 300px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.055);
  backdrop-filter: blur(1.5rem);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}
/*---------About---------*/
#About{
  background-color: #444343de;
  height: 100vh;
  padding-top: 100px;
  border-top: solid #252525 15px ;
}
.about{
  display:block;
  text-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 400px;
  height: 300px;
  margin: auto;
  background-color: rgba(59, 59, 59, 0.274);
  border-radius: 20px;
  backdrop-filter: blur(20px);
}
.about h1{
  font-family: heading;
  height: auto;
  padding-top: 10px;
  display: flex;
  color: antiquewhite;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about p{
  font-family: Para;
  line-height:25px;
  font-size: 20px;
  margin: auto;
  width: 400px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: rgb(10, 138, 20);
  align-items: center;
  font-weight: bolder;
  padding: 0 10px;
  text-align: left;
}

/*-------Footer---------*/
footer{
  background-color: rgba(24, 24, 24, 0.849);
  height:80px;
}
footer h1{
  font-family: heading;
  font-size: 20px;
  margin: 0px;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:rgb(0, 132, 255);
}
.social-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
}
.icons{
  display: inline;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.icons:hover{
  filter: invert(0) sepia(1) saturate(20) hue-rotate(93.6deg) brightness(1.2);
}
@media (max-width:500px){
  /* navigation  */

  nav a:hover{
    background-color: rgba(0, 0, 0, 0.576);
    border-radius: 10px;
    transition:0.3s ease-in-out;
  }
  /* home page  */
  div#Home.welcome-page{
    height: 550px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items:center;
  }
  .cont{
    font-family: alba;
    display: inline;
  }
  .cont h2{
    font-family: alba;
    padding-top: 2px;
    display: flex;
    font-size: 20px;

  }
  .cont h1{
    font-family: alba;
    display: inline;
    font-size: 20px;

  }

  .adding{
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: max-content;
    font-size: small;
  }

  .cont span{
    font-family: alba;
    padding-top: 1px;
    display: inline;
    font-size: 20px;

  }

  .border::after, .border::before{
    content: '';
    position: absolute;
    width:100%;
    height: 50px;
    border-radius: 10px;

  }
    
  
  
    /* art  */
    div#Work{
      margin:0;
      width: 100%;
    }
    .art-works{
      margin-top: 10px;
      background-color: transparent;
      font-family: Para;
      text-align: center;
      text-decoration: none;
      letter-spacing: 4px;
      font-weight: bold;
      font-size: 20px;
      color: rgb(255, 255, 255);
    }
    div.slides{
      height: 390px;
      background-color: transparent;
      width: max-content;

    }

    /* project  */
    div#project{
      padding-top: 10px;
      margin-top: 0px;
    }
    div#project h1{
      padding-top: 10px;
      margin-top: 0px;
    }
    div.project1{
      margin: auto;
      height: 200px;
      width: 200px;
    }
    div.project-list{
      display: flex;
      flex-direction: column;
      
    }
    .project1{
      padding-top: 10px;
      text-align: center;
    }
    .project1 img{
      width: 100px;
      height: 100px;
      border-radius: 20px;
    }
    /* about  */
    .about{
      display:block;
      text-wrap: wrap;
      padding-left: 10px;
      padding-right: 10px;
      width: 300px;
      height: 400px;
      margin: auto;
      background-color: rgba(59, 59, 59, 0.274);
      border-radius: 20px;
      backdrop-filter: blur(20px);

    }
    .about p{
      font-size: 20px;
      margin: auto;
      width: 300px;
      margin-top: 20px;
      margin-bottom: 150px;
      align-items: center;
      font-weight: bolder;
      padding: 0 10px;
      text-align: left;
    }
    #Work{
      padding-top: 0px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 500px;
      width:300px;
      height: 200px;
     
    }

}
